:root {
  --pale-sage: #BFF4CB;
  --sage: #84A98C;
  --dusty-emerald: #52796f;
  --deep-emerald: #354F52;
  --night-forest: #2F3E46;
}  

/* * {
  border: 1px solid teal;
}                   */


body { 
  background-color: darkseagreen;
}

/* style the body */
body {
  margin: 0;
  font-family: sans-serif;
  text-align: center;
  background-color: var(--night-forest);
  color: var(--pale-sage);
}

/* add a border to see how much space each element takes */
* {
  border: 1px solid teal;
}                  

/* style the mobile device */
.container {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  justify-content: space-between;
}                  

/* add more styling to make it look like the mock-up */
main {
  min-height: 60vh;
  flex-grow: 5;
}
aside, nav {
  background-color: var(--dusty-emerald);
  flex-grow: 2;
}
footer, header {
  background-color: var(--sage);
  flex-grow: 1;
}

/* coding for a desktop view */
@media (min-width: 600px) {
  .container {
    /* use row for the desktop design */
    flex-direction: row;
    /* have the container wrap the flex children */
    flex-wrap: wrap;
  }
  /* main body should be larger than the asides */
  main {
    max-width: 60%;
  }
  /* header and footer should take up the entire width */
  header, footer {
    width: 100%;
  }
}                  
                              
